{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img src="/static/img/me.jpg" style="border-radius: 100%;" class="mb-4">
        <h4 style="letter-spacing:0.1rem;">Parth Gupta</h4>
        <p style="font-size: 1.2rem;">Yes that's me!</p>
        <p style="font-size: 1.2rem;">I hope y'll are enjoying my blog. I am a Sophomore at NMIMS,Mumbai. I got idea for this after I started my photography page on Instagram i.e. @theshutterstories_. So, I designed this blog site to share with you all where I travel, the stories that freshens up my memory, some lifestyle stuff that I myself keeps learning about and what I capture.</p>
        <p style="font-size: 1.2rem;">I will be really glad if y'll share your stories with me as well and I'll surely post it. This blogging thing is really new to me please let me know in what way I could make it better.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
